body {
  background: red;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: -o-linear-gradient(bottom right, red, yellow);
  background: -moz-linear-gradient(bottom right, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.results div {
  flex: 1 1 25%;
  padding-top: 20px;
  padding-bottom: 20px;
}
